<footer class="main-footer font-xs">
    <div class="row pb-30 pt-15">
        <div class="col-sm-6">
            <script>
                document.write(new Date().getFullYear())
            </script> ©, Evara - HTML Ecommerce Template .
        </div>
        <div class="col-sm-6">
            <div class="text-sm-end">
                All rights reserved
            </div>
        </div>
    </div>
</footer>
</main>
<script src="/js/vendors/jquery-3.6.0.min.js"></script>
<script src="/js/vendors/bootstrap.bundle.min.js"></script>
<script src="/js/vendors/select2.min.js"></script>
<script src="/js/vendors/perfect-scrollbar.js"></script>
<script src="/js/vendors/jquery.fullscreen.min.js"></script>
<script src="/js/vendors/chart.js"></script>
<!-- Main Script -->
<script src="/js/main.js" type="text/javascript"></script>
<script src="/js/custom-chart.js" type="text/javascript"></script>
</body>

</html>

<script>
    function getsubcatData() {
        var catId = document.getElementById("catId").value;
        $.ajax({
            url: "/admin/extracategory/getsubcategoryData",
            method: "POST",
            data: {
                "categoryId": catId
            },
            success: function (res) {
                $("#subcatId").html(res)
            }
        })
    }
    function getextracatData() {
        var catId = document.getElementById("catId").value;
        var subcatId = document.getElementById("subcatId").value
        $.ajax({
            url: "/admin/brand/getextracategoryData",
            method: "POST",
            data: {
                "categoryId": catId,
                "subcategoryId": subcatId
            },
            success: function (res) {
                $("#extracatId").html(res)
            }
        })
    }

    function getbrandData() {
        var extraId = document.getElementById("extracatId").value;
        $.ajax({
            url: "/admin/type/getextbrandData",
            method: "POST",
            data: {
                extraid: extraId
            },
            success: function (res) {
                $("#brandId").html(res)
            }
        })
    }

    function getBrandTypeData() {
        let catId = document.getElementById("catId").value;
        let subcatId = document.getElementById("subcatId").value;
        let extracatId = document.getElementById("extracatId").value;
        $.ajax({
            url: "/admin/product/getBrandType",
            method: "POST",
            data: {
                categoryId: catId,
                subcategoryId: subcatId,
                extracategoryId: extracatId
            },
            success: (res) => {
                $("#BrandType").html(res);
            }
        })
    }

</script>