<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <main>
        <section class="content-main">
            <div class="card mx-auto card-login mt-120">
                <div class="card-body">
                    <h4 class="card-title mb-4">Set New Password</h4>
                    <form action="/admin/updatepassword" method="post">
                        <div class="mb-3">
                            <input class="form-control" name="npassword" placeholder="New Password" type="password">
                        </div>
                        <div class="mb-3">
                            <input class=" form-control" name="cpassword" placeholder="Confirm Password"
                                type="password">
                        </div>
                        <div class="mb-4 mt-4">
                            <button type="submit" class="btn btn-primary w-100"> Update Password </button>
                        </div>
                    </form>
                </div>
            </div>
        </section>

    </main>
</body>

</html>