<%- include("./Admin_Header") %>



    <h4 class="card-title mb-4">Set New Password</h4>
    <form action="/admin/checklogin" method="post">
        <div class="mb-3">
            <input class="form-control" name="password" placeholder="Old Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control" name="newpassword" placeholder="New Password" type="password">
        </div>
        <div class="mb-3">
            <input class=" form-control" name="confirmpassword" placeholder="Confirm Password" type="password">
        </div>
        <div class="mb-4 mt-4">
            <button type="submit" class="btn btn-primary w-100"> Update Password </button>
        </div>
    </form>
    <div>
        update Password

        <br>
        old password
        <br>
        new Password
        <br>
        Confirm password
        <br>
        Updatre Password
    </div>

    <%- include("./Admin_Footer") %>